# ignore saved/temp files to keep clean
**.swp
**/__pycache__/*
**.pyc
**.npy
**.txt
**.csv
**.pkl
**.pdf
**/.resources/*
**.tex

# ignore raw data files for data privacy
**.zip
**/data/*
**/.rawadni/*
**.pial
**.thickness
**.mgh
./data/raw/*
./data/saved/*

# ignore everything under the data directory
/data/*
!/data/.gitkeep  
/data/raw/*
/data/saved/*

# ignore jupyter checkpoints
**/.ipynb_checkpoints/

